/* *{
    margin: 0;
    padding: 0;;
}
body{
    /* background-image: url(raiden.jpg); 
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;
    display: flex;
}
.container{
    background-color: black;
    padding: 20px;
    position: sticky;
}
.nav ul li{
    display:inline-block;
    color: white;
    font-size: 20px;
    margin-right: 10px;
    
}
.no-underline{

        text-decoration: none;
        color: white;
    }

    
 */
